.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: auto;
}

.modal {
  background: #fefae0;
  border-radius: 0px;
  width: 800px;
  height: 600px;
  max-width: 100%;
  max-height: 100%;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #ffb703;
}

.modal h2 {
  text-align: center;
  color: #023047;
  margin-bottom: 20px;
}

.modalForm {
  flex: 1;
  overflow-y: auto;
  display: flex;
  gap: 20px;
}

.leftPart,
.rightPart {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightPart {
  padding-left: 20px;
}

.input,
.select {
  padding: 12px;
  font-size: 16px;
  /* border-radius: 10px; */
  border: 1px solid #adb5bd;
  background-color: #fffefc;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.textarea {
  width: 100%;
  height: 250px;
  padding: 15px;
  border: 2px dashed #8ecae6;
 
  resize: none;
  font-size: 16px;
  background-color: #ffffff;
  color: #333;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.textarea:focus {
  background-color: #fbf8f1;
  border-color: #219ebc;
}

.textarea::placeholder {
  color: #999;
  opacity: 1;
}

.toggleGroup {
  display: flex;
  gap: 10px;
}

.toggleButton {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #adb5bd;
  /* border-radius: 20px; */
  background: #e0e0e0;
  cursor: pointer;
  transition: background 0.3s;
}

.toggleButton.active {
  background: #219ebc;
  color: white;
  font-weight: bold;
  border-color: #219ebc;
}

.buttonGroup {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.saveBtn,
.cancelBtn {
  padding: 12px;
  border: none;
  /* border-radius: 8px; */
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.saveBtn {
  background-color: #38b000;
  color: white;
}

.cancelBtn {
  background-color: #d00000;
  color: white;
}

.saveBtn:hover {
  background-color: #2d8700;
}

.cancelBtn:hover {
  background-color: #9e0000;
}


body.modal-open {
  overflow: hidden;
}
